*{
    margin: 0 auto;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 60vmin;
}
body{
    background-color: #1b263b;
}
h1{
    color: white;
    font-size: 8vmin;
}

.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell{
    width: 18vmin;
    height: 18vmin;
    border: 2px solid black;
    background-color: white;
    font-size: 8vmin;
    color: #e9ecef;
    border-radius: 50px;
    background-color: #415a77;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}

#reset{
    width: 100px;
    height: 50px;
    background-color: #1b263b;
    color: white;
    margin-top: 30px;
}
.hide{
    display: none;
}


